<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>looser.win</title>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header id="page-header">
      <div id="game-buttons">
        <button type="button">Poker</button>
      </div>
      <span id="site-title">looser.win</span>
      <div id="page-buttons">
        <button type="button">About</button>
      </div>
    </header>
    <div id="game"></div>
    <script src="/static/index.js"></script>
  </body>
</html>
